@media screen and (max-width: 1700px){
    .poster-baru {
        margin: 5% 0px;
        background-color: #A0B066;
        padding: 23% 0px;
      
        height: 100%;
        
    }
    .text-info-1 {
       
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        color: white;
    }
}
@media screen and (max-width: 1500px){
    .poster-baru {
        margin: 5% 0px;
        background-color: #A0B066;
        padding: 23% 0px;
      
        height: 100%;
        
    }
    .text-info-1 {
       
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        color: white;
    }
    .text-poster{
        font-size: 14px;
    }
}
